// head.jsx

// 예약페이지 파란띠 
.con {
    padding-top: 140px;
    background: white;
}

.head {
    background: #01387F;
    font-size: 24px;

    .atag {
        display: flex;
        justify-content: space-around;
    }

    a {
        color: white;
    }
}

@media (max-width: 1200px) {
    .con {
        padding-top: 80px;
    }
}

// 캘린더 
.internet {
    margin-top: 30px;
}

.calen {
    width: 1000px;
    display: flex;
    justify-content: center;
}

.calen2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.parent {
    display: flex;
    justify-content: center;

}

.cal {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid #000;
}

// 버튼 none 처리 
.MuiPickersArrowSwitcher-root,
.MuiIconButton-root {
    display: none !important;
}

// 연도 달력 none 처리 
.MuiPickersCalendarHeader-root {
    pointer-events: none;
}

// 툴바
.MuiTypography-overline,
.MuiTypography-alignLeft{
    display: none;
}
// ok, cancel버튼 
.MuiPickersLayout-actionBar {
    display: none !important;
}